@charset "UTF-8";
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-md, .header {
  margin-bottom: 72px !important;
}
@media screen and (min-width: 600px) {
  .mb-md, .header {
    margin-bottom: 90px !important;
  }
}

.p-side-md, #course .section-title, #course .inner-content, #course .course-schedule, .feature-contents .feature-contents-list, #feature-1 .feature-inner-wrap, #feature-1 .curriculum-inner-wrap, #feature-1 .point-inner-wrap, #feature-2 .feature-inner-wrap, #feature-3 .feature-inner, #feature-4 .feature-inner, #feature-5 .feature-inner-wrap, #feature-5 .follow-up, #feature-5 .point-inner-wrap, #feature-5 .support {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 600px) {
  .p-side-md, #course .section-title, #course .inner-content, #course .course-schedule, .feature-contents .feature-contents-list, #feature-1 .feature-inner-wrap, #feature-1 .curriculum-inner-wrap, #feature-1 .point-inner-wrap, #feature-2 .feature-inner-wrap, #feature-3 .feature-inner, #feature-4 .feature-inner, #feature-5 .feature-inner-wrap, #feature-5 .follow-up, #feature-5 .point-inner-wrap, #feature-5 .support {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 600px) {
  .p-side-md, #course .section-title, #course .inner-content, #course .course-schedule, .feature-contents .feature-contents-list, #feature-1 .feature-inner-wrap, #feature-1 .curriculum-inner-wrap, #feature-1 .point-inner-wrap, #feature-2 .feature-inner-wrap, #feature-3 .feature-inner, #feature-4 .feature-inner, #feature-5 .feature-inner-wrap, #feature-5 .follow-up, #feature-5 .point-inner-wrap, #feature-5 .support {
    padding-left: 19.5%;
    padding-right: 19.5%;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex, #feature-1 .flex-container, #feature-5 .follow-up, #feature-5 .flex-container, #feature-5 .support-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 600px) {
  .flex, #feature-1 .flex-container, #feature-5 .follow-up, #feature-5 .flex-container, #feature-5 .support-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.head-text, #feature-1 .head-text, #feature-2 .head-text, #feature-3 .feature-inner-wrap .head-text {
  margin-bottom: 40px;
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  .head-text, #feature-1 .head-text, #feature-2 .head-text, #feature-3 .feature-inner-wrap .head-text {
    font-size: 14px;
    text-align: center;
  }
}

.purple {
  color: #904669;
}

.font-sm {
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  .font-sm {
    font-size: 16px;
  }
}

.font-md {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-md {
    font-size: 19px;
  }
}

.font-lr {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-lr {
    font-size: 23px;
  }
}

.font-lg, .main-title {
  font-size: 25px;
}
@media screen and (min-width: 960px) {
  .font-lg, .main-title {
    font-size: 36px;
  }
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title, #feature-1 .curriculum-title {
  text-align: center;
  padding: 4px 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  font-family: 游ゴシック, Bold;
  line-height: 24px;
  font: normal normal bold 14px/25px Yu Gothic;
  max-width: 792px;
  margin: 0 auto 20px;
}

.visible-mb {
  display: block;
}
@media screen and (min-width: 600px) {
  .visible-mb {
    display: none;
  }
}

.visible-pc {
  display: none;
}
@media screen and (min-width: 960px) {
  .visible-pc {
    display: block;
  }
}

.pc {
  display: none !important;
}
@media screen and (min-width: 600px) {
  .pc {
    display: block !important;
  }
}

.fb_iframe_widget {
  display: block !important;
  margin: 0 auto 48px !important;
  width: 300px !important;
  height: 600px;
}
@media screen and (min-width: 600px) {
  .fb_iframe_widget {
    width: 480px;
  }
}

._2p3a {
  min-width: 150px !important;
  width: 280px !important;
}

.twitter-timeline {
  display: block;
  width: 300px;
  height: 600px !important;
  margin: 0 auto 48px !important;
  overflow-y: scroll;
}
@media screen and (min-width: 600px) {
  .twitter-timeline {
    width: 480px;
  }
}

.feature-title {
  text-align: center;
}

.header {
  position: relative;
  z-index: 100;
}
.header .mv img, .header .mv source {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 600px) {
  .header .mv img, .header .mv source {
    height: 800px;
  }
}
.header .logo {
  position: absolute;
  z-index: 150;
  top: 0;
  left: 20px;
  width: 160px;
}
@media screen and (min-width: 600px) {
  .header .logo {
    left: 44px;
    width: 100%;
  }
}
.header .catchcopy img {
  position: absolute;
  max-width: 210px;
  top: 80px;
  left: 20px;
}
@media screen and (min-width: 600px) {
  .header .catchcopy img {
    max-width: 420px;
    top: 132px;
    left: 44px;
  }
}
.header .header-box img {
  position: absolute;
  top: 214px;
  left: 20px;
  width: 200px;
}
@media screen and (min-width: 600px) {
  .header .header-box img {
    top: 352px;
    left: 44px;
    width: 340px;
  }
}
@media screen and (min-width: 600px) {
  .header .side-btn {
    position: fixed;
    top: 40px;
    right: 0;
    height: 210px;
    width: 48px;
    background-color: #45CCC4;
    border-radius: 10px 0 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3000;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.header .side-btn:hover {
  background-color: #38a39c;
}
.header .badge {
  position: absolute;
  width: 180px;
  top: 370px;
  right: 16px;
  z-index: 2000;
}
@media screen and (min-width: 600px) {
  .header .badge {
    top: 536px;
    right: 32px;
    width: 290px;
  }
}

#course .section-title {
  text-align: center;
  margin-bottom: 120px !important;
}
@media screen and (min-width: 600px) {
  #course .section-title {
    margin-bottom: 180px !important;
  }
}
@media screen and (min-width: 600px) {
  #course .section-title img {
    width: 748px;
  }
}
#course .content {
  background-color: rgba(69, 204, 196, 0.5);
  padding-bottom: 80px;
}
@media screen and (min-width: 600px) {
  #course .content {
    padding-bottom: 140px;
  }
}
#course .inner-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 600px) {
  #course .inner-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
    margin-bottom: 60px;
  }
}
#course .content-item {
  text-align: center;
}
@media screen and (min-width: 600px) {
  #course .content-item {
    width: 380px;
    margin-top: -130px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
#course .first-content-item {
  margin-top: -130px;
}
#course .content-item {
  font: normal normal bold 16px/29px Yu Gothic;
}
@media screen and (min-width: 600px) {
  #course .content-item {
    text-align: left;
  }
}
#course .course-group-img, #course .course-online-img {
  border-radius: 50%;
  max-width: 280px;
  margin-bottom: 20px;
}
#course .course-group-title, #course .course-online-title {
  width: 310px;
  margin-bottom: 40px;
}
@media screen and (min-width: 600px) {
  #course .course-group-title, #course .course-online-title {
    display: block;
  }
}
#course .course-schedule {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
#course .first-course-schedule-img {
  margin-bottom: 32px;
}

.feature-contents {
  padding-bottom: 72px;
}
.feature-contents .section-title-wrap {
  margin-bottom: 50px;
  background-color: #E9EFF1;
  padding-bottom: 80px;
}
.feature-contents .section-title {
  display: block;
  text-align: center;
  margin: 0;
}
.feature-contents .section-title img {
  width: 200px;
  margin-top: -50px;
}
@media screen and (min-width: 600px) {
  .feature-contents .section-title img {
    width: 300px;
    margin-top: -80px;
  }
}
.feature-contents .section-second-title {
  font: normal normal bold 24px/74px Yu Gothic;
  letter-spacing: 1.92px;
  color: #000000;
  text-align: center;
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  .feature-contents .section-second-title {
    font-size: 24px;
  }
}
.feature-contents .feature-contents-list {
  text-align: center;
}
.feature-contents .feature-contents-list li {
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  pointer-events: none;
}
.feature-contents .feature-contents-list.inview li:nth-child(1) {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.feature-contents .feature-contents-list.inview li:nth-child(2) {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.feature-contents .feature-contents-list.inview li:nth-child(3) {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.feature-contents .feature-contents-list.inview li:nth-child(4) {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.feature-contents .feature-contents-list.inview li:nth-child(5) {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

#feature-1 .item-wrap .item {
  margin: 0 auto 20px;
}
@media screen and (min-width: 600px) {
  #feature-1 .item-wrap .item {
    width: 380px;
    margin: 0 auto 40px;
  }
}
#feature-1 .item-wrap .title {
  background-color: #EB4E45;
  color: white;
  margin-bottom: 8px;
  font-size: 12px;
  text-align: center;
}
#feature-1 .item-wrap img {
  width: 380px;
}
#feature-1 .item-wrap .description {
  font-size: 12px;
}
#feature-1 .more-teacher {
  text-align: center;
  margin-bottom: 40px;
}
#feature-1 .more-teacher a {
  color: #000000;
  position: relative;
  display: inline-block;
}
#feature-1 .more-teacher a::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
  top: 50%;
}
@media screen and (min-width: 600px) {
  #feature-1 .flex-container {
    gap: 64px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
#feature-1 .flex-container .item {
  display: block;
}
#feature-1 .flex-container .description-wrap {
  padding: 0 24px;
}
#feature-1 .curriculum {
  background-color: #ECFCFB;
  padding: 40px 0;
  margin-bottom: 50px;
}
#feature-1 .course-container {
  position: relative;
}
#feature-1 .course-container img {
  margin: 0 auto;
}
#feature-1 .course-container .curriculum-img {
  position: absolute;
  bottom: -16px;
  right: 25%;
  width: 115px;
}
#feature-1 .point {
  background-color: #ECFCFB;
  padding: 40px 0;
  margin-bottom: 50px;
}
#feature-1 .flex-container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#feature-1 .point-text-warp .bg-color-yellow {
  background-color: yellow;
  font-weight: 600;
}
@media screen and (min-width: 600px) {
  #feature-1 .point-text-warp {
    width: 60%;
  }
}
#feature-1 .point-text-warp .point-text-warp {
  font-size: 14px;
}
#feature-1 .point-inner-wrap {
  margin-top: -72px;
}
#feature-1 .point-img img {
  width: 350px;
}
@media screen and (min-width: 600px) {
  #feature-1 .point-img img {
    width: 256px;
  }
}

#feature-3 .instructor {
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 600px) {
  #feature-3 .instructor {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (min-width: 960px) {
  #feature-3 .instructor {
    grid-template-columns: repeat(3, 1fr);
  }
}
#feature-3 .instructor-card {
  width: 260px;
  height: auto;
  padding: 20px;
  background-color: #F5F5F5;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow-y: hidden;
}
#feature-3 .instructor-card.inview {
  -webkit-animation-name: kf-slideinAnimation;
          animation-name: kf-slideinAnimation;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.3, 0.87);
          animation-timing-function: cubic-bezier(0.25, 0, 0.3, 0.87);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#feature-3 .subject {
  color: white;
  background-color: #000000;
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  margin-bottom: 8px;
}
#feature-3 .instructor-name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
}
#feature-3 .instructor-comment {
  font-size: 14px;
}
@-webkit-keyframes kf-slideinAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes kf-slideinAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

#feature-4 .feature-inner img {
  margin: 25px auto;
  display: block;
}
@media screen and (min-width: 600px) {
  #feature-4 .feature-inner img {
    margin: 25px auto 60px;
  }
}

#feature-5 .follow-up {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
#feature-5 .follow-up .follow-up-card {
  width: 260px;
  height: 180px;
  background-color: #ECFCFB;
  padding: 12px;
  margin: 0 auto 24px;
}
#feature-5 .follow-up-card-inner {
  border: 1px solid #000000;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#feature-5 .follow-up-card-inner-text {
  font-family: 游ゴシック, Bold;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
#feature-5 .point {
  background-color: #ECFCFB;
  padding: 40px 0;
  margin-bottom: 50px;
}
#feature-5 .flex-container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#feature-5 .point-text-wrap {
  margin-bottom: 24px;
}
#feature-5 .point-text-wrap .bg-color-yellow {
  background-color: yellow;
  font-weight: 600;
}
@media screen and (min-width: 600px) {
  #feature-5 .point-text-wrap {
    width: 60%;
  }
}
#feature-5 .point-text-wrap .point-text {
  font-size: 14px;
}
#feature-5 .point-inner-wrap {
  margin-top: -72px;
}
#feature-5 .point-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#feature-5 .point-img img {
  width: 350px;
}
@media screen and (min-width: 600px) {
  #feature-5 .point-img img {
    width: 256px;
  }
}
#feature-5 .support-menu {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  #feature-5 .support-menu {
    width: 528px;
  }
}
#feature-5 .support-menu-list {
  position: relative;
  margin-right: 2em;
  line-height: 32px;
}
#feature-5 .support-menu-list a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}
#feature-5 .support-menu-list::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #45CCC4;
  top: 50%;
  left: -1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#footer {
  height: auto;
  background-image: url("../../images/img/repeat-grid.webp");
  padding-bottom: 76px;
}
@media screen and (min-width: 600px) {
  #footer {
    padding: 50px 17%;
    margin-bottom: 76px;
  }
}
#footer .sns {
  text-align: center;
}
#footer .sns button {
  border: 1px solid #333333;
  background-color: white;
  width: 200px;
  height: 60px;
  border-radius: 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#footer .sns button:hover {
  background-color: #ECFCFB;
}
#footer .sns-title {
  height: 86px;
  background-color: white;
  line-height: 86px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.nav {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
}
.nav li {
  width: 33.3333333333vw;
  background-color: #4ce0d7;
  border-right: 1px solid white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav li:last-child {
  border: none;
}
.nav li:hover {
  background-color: #38a39c;
}
.nav li a {
  color: white !important;
  height: 76px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=style.css.map */